:root {
    --gold: rgb(155,142,104);
    --red: rgb(175, 0, 0);
    --blue: rgb(0,88,171);
}

* {font-family: 'Roboto Mono', monospace;}

body {
    background-color: black;
    *background-color: rgb(22, 22, 22);
}

header {
    background-color: black;
    color: rgb(125, 0, 0);
    height: 10vh;
    font-size: 3.75rem;
    font-weight: bold;
    text-align: center;
}

header img {
    max-height: 7vh;
}

a {
    color: black;
    text-decoration: none;
}

th {
    background-color: var(--gold) !important;
}

th, td {
    padding-left: 15px !important;
}

td:nth-child(1) {
    font-weight: bold;
}

body .container-xxl {
    background-color: rgb(240, 240, 240);
    max-width: 85%;
    min-height: 90vh;
    padding: 20px 75px !important;
}

body h2 {
    padding-left: 50px;
}

.under-title {
    border: 1px solid var(--red);
    margin: 0;
    margin-bottom: 25px;
    opacity: 1;
}

hr.separata {
    border: 2px dashed black !important;
    opacity: 1;
    margin: 50px 0;
}

hr.wp-block-separator.is-style-dots {
    border-color: transparent;
    margin: 50px 0;
    opacity: 1;
    text-align: center;
}
hr.wp-block-separator.is-style-dots::before {
    background: none;
    color: inherit;
    content: "...";
    font-size: 2rem;
    font-weight: 700;
    height: auto;
    letter-spacing: 1em;
    padding-left: 1em;
    position: static;
    transform: none;
    width: auto;
}

span.title {
    padding: 6px 14px;
    background-color: black;
    color: var(--gold);
    font-weight: bold;
}

span.red {
    color: var(--red);
    font-weight: bold;
}

span.blue {
    color: var(--blue);
    font-weight: bold;
}

span.title ~ hr {
    border: 2px solid black;
    margin: 0;
    margin-bottom: 25px;
    opacity: 1;
}

ul {
    font-family: monospace;
    font-size: 2em;
    list-style: none;
    margin: 2em;
    padding: 0;
}

li {
    margin: 0;
    margin-bottom: 1em;
    padding-left: 20px;
    position: relative;
}

li:after {
    content: '';
    height: .3em;
    width: .3em;
    background: var(--red);
    display: block;
    position: absolute;
    transform: rotate(45deg);
    top: .25em;
    left: 0;
}

li p {
    font-size: 1rem;
}

.boton_top {
    position: fixed;
    right: 3%;
    bottom: 5%;
    height: 80px;
    border: 4px solid var(--red);
    border-radius: 50%;
    background-color: gray;
    width: 80px;
}

.boton_top:hover {
    cursor: pointer;
}